* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
 body {
   font-family: "Rowdies", sans-serif;
   font-weight: 400;
   font-style: normal;

   background-image: url('assets/images/bgLOGIN.jpg');
   background-size: cover;
   background-repeat: no-repeat;

   color: var(--cl-secondary);
}

:root {
    --cl-primary: #F8F3F0;
    --cl-secondary: #014BAA;
}

.header {
    background: linear-gradient(to right, #74b3ce, #26619c);
    color: var(--cl-primary);
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.6);

    padding: 20px;
    text-align: center;
    font-size: 1.4rem;
}

.login-form {
    background-color: var(--cl-secondary);
    background: transparent;
    backdrop-filter: blur(10px);
    color: var(--cl-primary);
    border-radius: 10px;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.9);

    margin: 100px auto;
    padding: 50px;
    width: 600px;

    text-align: center;
    justify-content: center;
}

.hero {
    color: var(--cl-primay);
    padding: 20px;
    font-size: 3rem;
}

.box {
    padding: 6px;
}

.box input{
    border-radius: 5px;
    text-align: center;

    width: 500px;
    padding: 15px;
    border: none;
    outline: none;
}

.btn button{
    margin: 20px;
    padding: 10px;

    /* style */
    border: none;
    outline: none;

    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
    background-color: var(--cl-primary);
    border-radius: 5px;
    color: var(--cl-secondary);

    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;

    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover button {
    transform: translateY(-6px);
}

.help p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.social-login i {
    margin: 20px;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.5s ease;

    background-color: var(--cl-primary);
    color: var(--cl-secondary);
    padding: 10px;

    border-radius: 10px;
}

.social-login i:hover {
    transform: translateY(-6px);
}

.footer {
    background: linear-gradient(to right, #74b3ce, #26619c);
    color: var(--cl-primary);
    box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.6);


    padding: 20px;
    text-align: center;
    font-size: 1.4rem;
}


@media screen and (max-width : 650px){
    .login-form {
        width: 400px;
    }

    .box input {
        width: 300px;
    }

    .social-login i {
        font-size: 2rem;
        text-align: center;
    }
   
}
